{
  local_certs
}
  tls internal
}

qb.home.arpa {
  encode gzip
  reverse_proxy http://qbittorrent:8080
  tls internal
}

immich.home.arpa {
  encode gzip
  reverse_proxy http://immich-server:2283
  tls internal
}

vaultwarden.home.arpa {
  encode gzip
  reverse_proxy http://vaultwarden:80
  tls internal
}

kuma.home.arpa {
  encode gzip
  reverse_proxy http://uptime-kuma:3001
  tls internal
}

agent.home.arpa {
  encode gzip
  reverse_proxy http://homelab-agent-web:8000
  tls internal
}
jellyfin.home.arpa {
  reverse_proxy http://jellyfin:8096
}
